.orderDetails {
  display: grid;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  grid-template-columns: 1fr;
  width: 80%;
}

@media (min-width: 768px) {
  .orderDetails {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .orderDetails {
    grid-template-columns: repeat(2, 1fr);
  }
}

.orderDetails > div {
  height: 100%; /* Ensure each grid item takes full height */
}

.error {
  color: var(--color-error-text);
  font-size: var(--font-size-md);
  margin: var(--spacing-md);
}