.errorContainer {
  margin-top: var(--spacing-md);
  transition: visibility 0s, opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.errorContainer.showError {
  visibility: visible;
  opacity: 1;
  height: auto;
}
