.appBackground {
    background: linear-gradient(
    135deg,
    var(--color-surface) 0%,
    var(--color-primary-variant) 100%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}